---
import Contact from '../ui/Contact.astro';
import Navigation from '../ui/Navigation.astro';
---

<footer
  class="bg-slate-800 z-[9999] footer text-white p-4 w-full mt-auto justify-center flex items-center content-between"
>
  <div class="w-full">
    <!-- Sección superior -->
    <div class="flex flex-col">
      <!-- Logo y descripción -->
      <div class="flex content-between w-full">
        <div class="flex flex-col w-1/2">
          <h2 class="text-2xl font-bold text-white">Mi Portafolio</h2>
          <p class="text-sm mt-2 max-w-sm">
            Creando experiencias web únicas y atractivas, usando las últimas
            tecnologías y prácticas modernas de desarrollo.
          </p>
        </div>
        <div class="w-1/2 flex justify-end"><Navigation /></div>
      </div>

      <!-- Enlaces de navegación -->

      <!-- Línea divisoria -->
      <div class="border-t border-gray-700 my-6"></div>

      <!-- Sección inferior -->
      <div class="flex content-between">
        <!-- Redes Sociales -->
        <div class="w-1/2 flex justify-start"><Contact /></div>

        <!-- Derechos Reservados -->
        <div class="w-1/2 flex justify-end">
          <div class="text-sm text-center md:text-right">
            &copy; 2024 Mi Portafolio. Todos los derechos reservados.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
