---
import { Image } from 'astro:assets';
import logo from '../../assets/images/logo.png';
---

<div class="nav-bar">
  <div class="w-full flex justify-between items-center px-3 py-3 m-0 shadow-lg">
    <div class="flex items-center justify-start">
      <Image src={logo} alt="Logo" class="h-16 w-auto" />
      <a
        type="button"
        role="button"
        href="/"
        class="hidden lg:block px-4 py-2 lg:px-0 text-black hover:text-blue-500/80 text-lg font-semibold"
      >
        Jhon Legarda
      </a>
      <span class="lg:hidden block px-2 text-black font-semibold">
        Jhon Legarda
      </span>
    </div>

    <nav class="hidden flex-row gap-x-10 opacity-90 md:flex">
      <a href="/" class="hover:text-blue-500/80 active">Inicio</a>
      <a href="/projects" class="hover:text-blue-500/80">Proyectos</a>
      <a href="/about-me" class="hover:text-blue-500/80">Sobre mi</a>
      <a href="/contact" class="hover:text-blue-500/80">Contacto</a>
    </nav>
    <div class="flex items-center justify-center m-0 p-3 block md:hidden">
      <nav class="md:hidden">
        <button
          id="dropdownDefaultButton"
          data-dropdown-toggle="dropdown"
          onclick="toggleDropdown()"
          class="text-black font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-white dark:hover:bg-white"
          type="button"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <rect x="3" y="6" width="18" height="2" fill="#000"></rect>
            <rect x="3" y="11" width="18" height="2" fill="#000"></rect>
            <rect x="3" y="16" width="18" height="2" fill="#000"></rect>
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div class="flex justify-end w-full">
          <div
            id="dropdown"
            class="z-10 hidden absolute mx-auto bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white mt-2"
          >
            <ul
              class="py-2 text-sm text-dark"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a
                  href="/"
                  class="block px-4 py-2 hover:bg-white dark:hover:text-white"
                  onclick="toggleDropdown()">Inicio</a
                >
              </li>

              <li>
                <a
                  href="/projects"
                  class="block px-4 py-2 hover:bg-white dark:hover:text-white"
                  onclick="toggleDropdown()">Proyectos</a
                >
              </li>

              <li>
                <a
                  href="/about-me"
                  class="block px-4 py-2 hover:bg-white dark:hover:text-white"
                  onclick="toggleDropdown()">Sobre mi</a
                >
              </li>
              <li>
                <a
                  href="/contact"
                  class="block px-4 py-2 hover:bg-white dark:hover:text-white"
                  onclick="toggleDropdown()">Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<script is:inline>
  const isMobile = window.innerWidth <= 768;
  window.addEventListener('scroll', function () {
    const header = document.getElementById('dynamicHeader');
    if (window.scrollY > 50 && !isMobile) {
      header.classList.remove('bg-transparent');
      header.classList.add('bg-neutral-950/50', 'backdrop-blur-2xl');
    } else {
      header.classList.remove('bg-neutral-950/50', 'backdrop-blur-2xl');
      header.classList.add('bg-transparent');
    }
  });

  function toggleDropdown() {
    const dropdown = document.getElementById('dropdown');
    dropdown.classList.toggle('hidden');
  }
</script>

<style></style>
