---
import { Image } from 'astro:assets';
import Tags from '../components/ui/Tags.astro';
import { skills } from '../data/Skills';
import Layout from '../layouts/Layout.astro';
import perfil from '../assets/images/perfil.png';
---

<Layout title="Sobre mí">
  <div
    class="container-content-center shadow shadow-stone-800 rounded-lg m-4 p-4 bg-white text-black dark:bg-gray-700 dark:text-white"
  >
    <div class="space-y-6">
      <h1 class="font-bold">Sobre mí</h1>
    </div>
    <div
      class="flex items-center md:items-center md:justify-center justify-center p-2"
    >
      <Image src={perfil} alt="Perfil" class="rounded-full w-40 h-40" />
    </div>
    <div class="space-y-6">
      <p class="text-black dark:text-white">
        Soy un desarrollador frontend apasionado por crear experiencias web
        excepcionales.
      </p>

      <h2 class="text-2xl font-bold text-black mb-2">Habilidades</h2>
      <div class="flex flex-wrap gap-3">
        {skills.map((skills) => <Tags text={skills.name} />)}
      </div>
    </div>
  </div>
</Layout>
