---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto"
  ><div><span>Hola mundoasddddddddddd</span></div>
  <div><a type="button" role="button" href="/">Inicijgjygjgo</a></div>
</Layout>
