---
import Layout from '../layouts/Layout.astro';

import ContactInfo from '../components/contact/ContactInfo.astro';
---

<Layout title="Contacto">
  <article id="contant-section">
    <h1 class="font-bold text-black dark:text-white">Contacto</h1>
    <ContactInfo />
  </article>
</Layout>
