---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title='My portfolio'>
	
	<NavBar><div><a type="button" role="button" href="/about-me">About-me</a></div></NavBar>
	
	<div class="text-center  hover:text-black"><span>Hola mundo astroooo</span></div>
</Layout>
