---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
  <div class="text-center max-w-3xl mx-auto">
    <h1 class="text-5xl font-bold mb-6 text-gray-800">
      ¡Hola! Soy <span class="text-purple-600">Desarrollador Frontend</span>
    </h1>
    <p class="text-xl text-gray-600 mb-8">
      Creo experiencias web únicas y atractivas utilizando las últimas
      tecnologías
    </p>
    <div class="flex justify-center gap-4">
      <a
        href="/projects"
        class="hover:text-blue-500/80 bg-purple-900 rounded-lg px-2 py-2 text-white"
        >Ver Proyectos</a
      >
      <a
        href="/contact"
        class="hover:text-blue-500/80 bg-gray-900 rounded-lg px-2 py-2 text-white"
        >Contactar</a
      >
    </div>
  </div>
</Layout>
