---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/navigation/NavBar.astro';
import Footer from '../components/navigation/Footer.astro';
import Projects from './projects.astro';
import Education from './education.astro';
import AboutMe from './about-me.astro';
import Home from './home.astro';
---

<Layout title="Portfolio">
  <NavBar />
  <main class="main-content">
    <section class="flex flex-col justify-center items-center">
      <Home />
    </section>
    <section class="flex flex-col justify-center items-center">
      <AboutMe />
    </section>
    <section class="flex flex-col justify-center items-center">
      <Projects />
    </section>
    <section class="flex flex-col justify-center items-center">
      <Education />
    </section>
  </main>
</Layout>
<Footer />
