---
import ProjectsGrid from '../components/projects/ProjectsGrid.astro';
import { projects } from '../data/Projects';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proyectos">
  <article id="projects-section">
    <h1 class="font-bold text-black dark:text-white">Mis Proyectos</h1>
    <div
      class="flex flex-col lg:flex-row lg:justify-between justify-center gap-4"
    >
      <ProjectsGrid projects={projects} />
    </div>
  </article>
</Layout>
