---
import NavBar from '../components/navigation/NavBar.astro';
import Layout from '../layouts/Layout.astro';
---

<NavBar />
<Layout title="Proyectos"
  ><div><span>Hola mundo</span></div>
  <div><a type="button" role="button" href="/">Inicio</a></div>
</Layout>
