---
// Importaciones necesarias
import { ClientRouter } from 'astro:transitions';
interface Props {
  title: string;
}
const { title } = Astro.props;
import GlobalStyles from '../styles/global.astro';
import Breackpoints from '../styles/breackpoints.astro';
import Variables from '../styles/variables.astro';
import NavBar from '../components/navigation/NavBar.astro';
import Footer from '../components/navigation/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <GlobalStyles />
    <Breackpoints />
    <Variables />

    <!-- <script is:inline>
      if (typeof window !== 'undefined') {
        const theme =
          localStorage.getItem('theme') ??
          (window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light');
        document.documentElement.classList.toggle('dark', theme === 'dark');
      }
    </script> -->
  </head>
  <body
    class="bg-white text-black dark:bg-gray-700 dark:text-white transition-colors"
  >
    <NavBar />
    <main class="main-content p-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
