---
// EducationList.astro

import type { Certification } from '../../data/Certification';
import Tags from '../ui/Tags.astro';

interface Props {
  certification: Certification[];
}

const { certification } = Astro.props;
---

<div class="education-list space-y-6">
  {
    certification.map((item) => (
      <div class=" selection: shadow-md rounded-lg p-4  bg-white dark:bg-gray-700">
        <div class="text-center">
          {' '}
          <h3 class="text-xl font-semibold text-gray-800">
            <Tags text={item.institute_name} />
          </h3>
        </div>
        <div class=" text-black dark:text-white mt-2">{item.tittle}</div>
        <p class=" text-black dark:text-white">
          <strong class="text-black">Fechas:</strong>{' '}
          {item.start_date instanceof Date
            ? item.start_date.getFullYear()
            : item.start_date}{' '}
          -{' '}
          {item.end_date instanceof Date
            ? item.end_date.getFullYear()
            : item.end_date}
        </p>
      </div>
    ))
  }
</div>

<style></style>
