---
// EducationList.astro
import type { Education } from '../../data/Education';
import Tags from '../ui/Tags.astro';

interface Props {
  education: Education[];
}

const { education } = Astro.props;
---

<div class="education-list space-y-6">
  {
    education.map((item) => (
      <div class="  shadow-md  rounded-lg p-4  bg-white dark:bg-gray-700 justify-start md:justify-start">
        <div class="text-center">
          {' '}
          <h3 class="text-xl font-semibold text-gray-800">
            <Tags text={item.institute_name} />
          </h3>
        </div>
        <div class=" text-black dark:text-white mt-2">{item.tittle}</div>
        {/* <p class="text-gray-600  pt-2">
          <strong>Título:</strong> {item.tittle}
        </p> */}
        <p class=" text-black dark:text-white">
          <strong class="text-black">Fechas:</strong>{' '}
          {item.start_date instanceof Date
            ? item.start_date.getFullYear()
            : item.start_date}{' '}
          -{' '}
          {item.end_date instanceof Date
            ? item.end_date.getFullYear()
            : item.end_date}
        </p>
      </div>
    ))
  }
</div>

<style></style>
