---
// NavigationLinks.astro
---

<div
  class="flex content-between text-xl justify-center items-center text-gray-300 gap-x-10"
>
  <a
    href="#home-section"
    class="inline-block transform transition duration-500 ease-out hover:-rotate-12 hover:text-blue-700 dark:hover:text-blue-400 animate-pulse"
    >Inicio</a
  >
  <a
    href="#aboutme-section"
    class="inline-block transform transition duration-500 ease-out hover:rotate-12 hover:text-blue-700 dark:hover:text-blue-400 animate-pulse"
    >Sobre mi</a
  >
  <a
    href="#projects-section"
    class="inline-block transform transition duration-500 ease-out hover:-rotate-12 hover:text-blue-700 dark:hover:text-blue-400 animate-pulse"
    >Proyectos</a
  >
  <a
    href="#education-section"
    class="inline-block transform transition duration-500 ease-out hover:rotate-12 hover:text-blue-700 dark:hover:text-blue-400 animate-pulse"
    >Educación</a
  >
</div>
