---
interface Props {
  text: string;
  size?: 'sm' | 'md';
}

const { text, size = 'md' } = Astro.props;

const sizes = {
  sm: 'text-sm px-3 py-1',
  md: 'px-4 py-2',
};
---

<span
  class:list={[
    'bg-purple-200 dark:bg-purple-800',
    'text-black dark:text-black',
    'rounded-full border border-black',
    'w-full inline-block',
    'text-center whitespace-nowrap overflow-hidden text-ellipsis',
    'text-sm', // A침adimos tama침o de texto m치s peque침o
    'px-2 py-1', // Reducimos el padding
    sizes[size],
  ]}
>
  {text}
</span>
