---
interface Props {
  text: string;
  size?: 'sm' | 'md';
}

const { text, size = 'md' } = Astro.props;

const sizes = {
  sm: 'text-sm px-3 py-1',
  md: 'px-4 py-2',
};
---

<span
  class:list={[
    'bg-purple-200 dark:bg-purple-800 text-purple-500 dark:text-black rounded-full',
    sizes[size],
  ]}
>
  {text}
</span>
